body {
    margin: 0;
    background-color: rgb(169, 169, 243);
}

body * {
    border: solid black 2px;
}

header {
    background-color: rgb(67, 67, 253);
    color: white;
    padding: 0.1rem 0.2rem 0.1rem 1rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#links a {
    margin-right: 0.5rem;
}

#titulo {
    display: flex;
    align-content: center;
}

header a {
    color: white;
    background-color: rgb(90, 90, 247);
    text-decoration: none;
    padding: 0.2rem;
    font-weight: bold;
    border-radius: 10px;
}

header img {
    margin-top: 0.8rem;
}

#ciberInfo {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16px;
    background-color: rgb(140, 156, 245, 0.5);
}

#ciberInfo h2 {
    text-decoration: underline;
}

#ciberespacio {
    background-color: rgb(93, 241, 93, 0.5);
    padding: 0.1rem;
    padding-left: 0.4rem;
    margin: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#ciberdelincuencia {
    background-color: rgb(197, 241, 93, 0.7);
    padding: 0.1rem;
    padding-left: 0.4rem;
    margin: 2rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr fr;
}

#backgroundImg {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    width: 90%;
    height: 90%;
    margin: 1rem;
}

/*css tecnoblog*/


body {
    margin: 0;
  }

  p, a {
    font-family: Arial;
  }

  header {
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0 0.5rem;
  }

  #links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  :not(header) {
    margin-left: 0.5rem;
  }

  h1, h2, img, svg {
    display: inline-block;
    margin: 0.3rem;
  }

  h2 {
    margin-top: 1rem;
  }

  img, svg {
    vertical-align: bottom;
    margin-bottom: 0.3rem;
  }

  a {
    color: black;
    font-weight: border;
    text-decoration: underline;
    font-weight: bold;
  }